*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* padding: 1rem; */
  /* background-color: #fff; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
}

iframe {
  /* This fixes a mobile Safari bug */
  height: 38px !important;
}

#payment-form {
  width: 280px;
  margin: 0 auto;
}

label {
  display: block;
  height: 10px;
  color: #13395e;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  margin: 8px 0;
}

.date-and-code {
  display: flex;
  margin-bottom: 8px;
}

.date-and-code > div:nth-child(1) {
  width: 55.715%;
}
.date-and-code > div:nth-child(2) {
  width: 45.719%;
}

.input-container {
  position: relative;
  display: flex;
  height: 40px;
}
.icon-container:last-child {
  right: 0;
}
.icon-container.payment-method {
  right: 0;
}

.input-container.customer-name {
  margin-bottom: 8px;
}

.input-container.address1 {
  margin-bottom: 8px;
}

.input-container.address2 {
  margin-bottom: 8px;
}
.input-container.postcode {
  margin-bottom: 8px;
}
.input-container.phone {
  margin-bottom: 8px;
}
.input-container.country {
  margin-bottom: 8px;
}
.input-container.city {
  margin-bottom: 8px;
}

.input-container.card-number {
  margin-bottom: 8px;
}
.input-container.expiry-date {
  margin-right: 4px;
}
.input-container.cvv {
  margin-left: 4px;
}

.card-number-frame {
  padding-left: 40px;
}
.expiry-date-frame {
  padding-left: 40px;
}
.cvv-frame {
  padding-left: 40px;
}
.customer-name-frame {
  padding-left: 40px;
}
.address1-frame {
  padding-left: 40px;
}
.address2-frame {
  padding-left: 40px;
}
.postcode-frame {
  padding-left: 40px;
}
.phone-frame {
  padding-left: 40px;
}
.country-frame {
  padding-left: 40px;
}
.city-frame {
  padding-left: 40px;
}

div + button {
  margin-top: 8px;
}

.icon-container {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 26px;
  margin: 0 7px;
}

.icon-container.payment-method {
  transform: translateY(-50%) rotateY(90deg);
  transition: opacity 0.15s ease-out;
  opacity: 0;
  top: 50%;
}

.icon-container.payment-method.show {
  opacity: 1;
  transition: all 0.4s ease-out;
  transform: translateY(-50%) rotateY(0deg);
}

.icon-container.payment-method img {
  width: 100%;
}

[id$="-error"] {
  display: none;
}

.frame {
  opacity: 0;
}

.frame--activated {
  opacity: 1;
  border: solid 1px #13395e;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.2);
}

.frame--activated.frame--focus {
  border: solid 1px #13395e;
  box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.15);
}

.frame--activated.frame--invalid {
  border: solid 1px #d96830;
  box-shadow: 0 2px 5px 0 rgba(217, 104, 48, 0.15);
}

.error-message {
  display: block;
  color: #c9501c;
  font-size: 0.9rem;
  margin: 8px 0 0 1px;
  font-weight: 300;
}

#pay-button {
  /* border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  height: 40px;
  width: 100%;
  background-color: #13395e;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4); */
}

#pay-button:active {
  background-color: #0b2a49;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4);
}

#pay-button:hover {
  background-color: #15406b;
  box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.4);
}

#pay-button:disabled {
  background-color: #697887;
  box-shadow: none;
}

#pay-button:not(:disabled) {
  cursor: pointer;
}

#clear-button,
#clear-configuration-button {
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  height: 40px;
  width: 100%;
  background-color: #13395e;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4);
}

#clear-button:active,
#clear-configuration-button:active {
  background-color: #0b2a49;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4);
}

#clear-button:hover,
#clear-configuration-button:hover {
  background-color: #15406b;
  box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.4);
}

#clear-button:disabled,
#clear-configuration-button:disabled {
  background-color: #697887;
  box-shadow: none;
}

#clear-button:not(:disabled),
#clear-configuration-button::not(:disabled) {
  cursor: pointer;
}

.success-payment-message {
  color: #13395e;
  line-height: 1.4;
}
.token {
  color: #b35e14;
  font-size: 0.9rem;
  font-family: monospace;
}

/**
IE11-targeted optimisations
 */
_:-ms-fullscreen,
:root .icon-container {
  display: block;
}

_:-ms-fullscreen,
:root .icon-container img {
  top: 50%;
  -ms-transform: translateY(-50%);
  position: absolute;
}

_:-ms-fullscreen,
#icon-card-number,
_:-ms-fullscreen,
#icon-expiry-date,
_:-ms-fullscreen,
#icon-cvv {
  left: 7px;
}

#checkout-frames-card-number::-ms-clear {
  display: none;
}
#checkout-frames-customer-name::-ms-clear {
  display: none;
}
#checkout-frames-address1::-ms-clear {
  display: none;
}
#checkout-frames-address2::-ms-clear {
  display: none;
}
#checkout-frames-postcode::-ms-clear {
  display: none;
}
#checkout-frames-phone::-ms-clear {
  display: none;
}
#checkout-frames-country::-ms-clear {
  display: none;
}
#checkout-frames-city::-ms-clear {
  display: none;
}

#one-liner-button {
  border: none;
  border-radius: 3px;
  color: #000;
  font-weight: 500;
  height: 40px;
  width: 100%;
  background-color: #00b48f;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4);
}

#one-liner-button:active {
  background-color: #00b48f;
  box-shadow: 0 1px 3px 0 rgba(19, 57, 94, 0.4);
}

#one-liner-button:hover {
  background-color: #edf5f7;
  box-shadow: 0 2px 5px 0 rgba(19, 57, 94, 0.4);
}

#one-liner-button:disabled {
  background-color: #eee;
  box-shadow: none;
}

#one-liner-button:not(:disabled) {
  cursor: pointer;
}

.customer_field,
body {
  margin: 0;
  width: 100%;
}

.customer_field {
  padding: 0 10px 0 10px;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #13395e;
  letter-spacing: -0.4px;
  font-family: monospace;
}
.customer_field:hover {
  cursor: text;
}
[class$="--invalid"] {
  color: #d96830;
}
.customer_field::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  letter-spacing: -0.4px;
}
.customer_field {
  letter-spacing: -0.08rem;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/* 
ApplePay 
*/

.apple-pay {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.apple-pay-button {
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: buy;
  visibility: hidden;
  display: inline-block;
  width: 200px;
  min-height: 30px;
  border: 1px solid black;
  background-image: -webkit-named-image(apple-pay-logo-black);
  background-size: 100% calc(60% + 2px);
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% 50%;
  border-radius: 5px;
  padding: 0px;
  margin: 5px auto;
  transition: background-color 0.15s;
}

.apple-pay-button.visible {
  visibility: visible;
}

.apple-pay-button:active {
  background-color: rgb(152, 152, 152);
}
/*
End of ApplePay
*/

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .apple-pay-button {
    width: 100%;
    height: 50px;
  }
}

/*
Google Pay
*/
#google-pay-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

