{{ define "success.html" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout Frames v2</title>
  <link rel="stylesheet" type="text/css" href="public/normalize.css">
  <link rel="stylesheet" type="text/css" href="public/style.css">
</head>

<body>
  <div class="success-page">
    <img src="http://share.ashiknesin.com/green-checkmark.png" class="center" alt="" />
    <h2>Payment Successful !</h2>
    <p>We are delighted to inform you that we received your payments</p>
    <p>Thank you for your order number {{.Reference}}, you paid with your {{.Source.Scheme}} ending in {{.Source.Last4}}</p>
  </div>
  </div>
</body>

</html>
{{ end }}
